---
const VIDEOS = [
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Spot%20dia%20del%20deporte.mp4",
    thumbnail: "/thumbnails/Spot dia del deporte.png",
    title: "DÍA DEL DEPORTE",
    subtitle: "Sonido Directo - Postproducción de Sonido",
    type: "Spot",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//VILLICUM_CUYO_TRAILER%20WEB_1.mp4",
    thumbnail: "/thumbnails/VILLICUM_CUYO_TRAILER WEB.png",
    title: "VILLICUM",
    subtitle: "Sonido directo - Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//PULSANDO%20LA%20VIDA%20Trailer%20Oficial_1.mp4",
    thumbnail: "/thumbnails/PULSANDO LA VIDA Trailer Oficial.png",
    title: "PULSANDO LA VIDA",
    subtitle: "Sonido Directo",
    type: "Largometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Memoria%20foto.mp4",
    thumbnail: "/thumbnails/Memoria fotográfica, de Pablo Pintor - Trailer.jpg",
    title: "MEMORIA FOTOGRÁFICA",
    subtitle: "Sonido Directo",
    type: "Largometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//POR%20LA%20RAZON%20O%20POR%20LA%20FUERZA%20-%20TRAILER.mp4",
    thumbnail: "/thumbnails/POR LA RAZON O POR LA FUERZA - TRAILER.webp",
    title: "POR LA RAZÓN O POR LA FUERZA",
    subtitle: "Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//El%20club%20de%20las%20fracasadas%20-%20Trailer_.mov",
    thumbnail: "/thumbnails/El club de las fracasadas - Trailer_.webp",
    title: "EL CLUB DE LAS FRACASADAS",
    subtitle: "Sonido Directo",
    type: "Serie",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Spot%20San%20Martin.mp4",
    thumbnail: "/thumbnails/Spot San Martin.png",
    title: "SAN MARTÍN",
    subtitle: "Sonido Directo - Postproducción de Sonido",
    type: "Spot",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//EL%20MENSAJERO.mp4",
    thumbnail: "/thumbnails/EL MENSAJERO.png",
    title: "EL MENSAJERO",
    subtitle: "Sonido directo - Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//MICHINO.mp4",
    thumbnail: "/thumbnails/MICHINO.png",
    title: "MI CHINO",
    subtitle: "Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Cartas.mp4",
    thumbnail: "/thumbnails/Cartas a mis tíes muertes Inés - Trailer.webp",
    title: "CARTAS A MIS TIES MUERTES: 1. INÉS",
    subtitle: "Sonido directo - Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Spot%20Reapertura%20Teatro%20del%20Bicentenario.mp4",
    thumbnail: "/thumbnails/Spot Reapertura Teatro del Bicentenario.png",
    title: "TEATRO DEL BICENTENARIO",
    subtitle: "Postproducción de Sonido",
    type: "Spot",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//EmarAcosta_1.mp4",
    thumbnail: "/thumbnails/EmarAcosta.png",
    title: "EMAR ACOSTA",
    subtitle: "Sonido Directo",
    type: "Largometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Spot%20DIA%20DE%20LA%20BANDERA_2_1.mp4",
    thumbnail: "/thumbnails/Spot DIA DE LA BANDERA.png",
    title: "MANUEL BELGRANO",
    subtitle: "Postproducción de Sonido",
    type: "Spot",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//Ranchera%20trailer%20Instagram.mp4",
    thumbnail: "/thumbnails/ranchera resumen.png",
    title: "RANCHERA",
    subtitle: "Sonido Directo",
    type: "Serie",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//El-nombre-de-mi-amiga.mp4",
    thumbnail: "/thumbnails/El-nombre-de-mi-amiga.webp",
    title: "EL NOMBRE DE MI AMIGA",
    subtitle: "Sonido directo - Foley",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//FOMENTO2021_POR%20UN%20SOLO%20AYER_TRAILER_1.mp4",
    thumbnail: "/thumbnails/FOMENTO2021_POR UN SOLO AYER_TRAILER.png",
    title: "POR UN SOLO AYER",
    subtitle: "Sonido directo - Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "/videos/VORTICE_1.mp4",
    thumbnail: "/thumbnails/VORTICE.png",
    title: "VÓRTICE",
    subtitle: "Sonido directo - Postproducción de Sonido",
    type: "Cortometraje",
  },
  {
    src: "https://cprymzcodicpucqbmfiq.supabase.co/storage/v1/object/public/nati-trailers//LA%20MESTRE_secuencia.mp4",
    thumbnail: "/thumbnails/lamestre_resumen.png",
    title: "LA MESTRE",
    subtitle: "Sonido directo - Música original",
    type: "Cortometraje",
  },
];

// const VIDEOS_SMALL = [

// ]
---

<div id="video-grid-2" class="grid grid-cols-1 md:grid-cols-2 gap-2 p-3">
  {
    VIDEOS.map((video, index) => (
      <div
        class="relative cursor-pointer overflow-hidden"
        data-video-src={video.src}
      >
        <img
          src={video.thumbnail}
          alt={`Thumbnail of ${video.title}`}
          class="transition-transform duration-300 hover:scale-105 w-full h-full object-cover"
        />
        <div class="absolute inset-0 flex flex-col items-center justify-end text-white text-lg p-2 pointer-events-none">
          <span>
            {video.title}{" "}
            <span class="text-xs text-white/70">- {video.type}</span>
          </span>
          {video.subtitle && (
            <span class="text-xs text-white/80">{video.subtitle}</span>
          )}
        </div>
        <video class="hidden" muted loop playsinline width="100%" height="100%">
          <source src={video.src} type="video/mp4" />
          Tu navegador no soporta el elemento video.
        </video>
      </div>
    ))
  }
</div>

<!-- <div id="video-grid-3" class="grid grid-cols-1 md:grid-cols-3 gap-1 p-3 mt-4">
  {VIDEOS_SMALL.map((video, index) => (
    <div class="relative cursor-pointer overflow-hidden" data-video-src={video.src}>
      <img src={video.thumbnail} alt={`Thumbnail of ${video.title}`} class="w-full h-full object-cover" />
      <div class="absolute inset-0 flex flex-col items-center justify-end text-white text-lg p-2 pointer-events-none">
        <span>{video.title} <span class="text-xs text-white/70">- {video.type}</span></span>
        {video.subtitle && <span class="text-xs text-white/80">{video.subtitle}</span>}
      </div>
      <video class="hidden" muted loop playsinline width="100%" height="100%">
        <source src={video.src} type="video/mp4" />
        Tu navegador no soporta el elemento video.
      </video>
    </div>
  ))}
</div> -->

<div
  id="fullscreen-container"
  class="hidden fixed inset-0 items-center justify-center bg-black bg-opacity-90 z-50"
>
  <button
    id="close-fullscreen"
    class="absolute top-4 right-4 text-white p-2 text-sm">x</button
  >
  <video id="fullscreen-video" controls autoplay class="w-5/6 h-auto"></video>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const fullscreenContainer = document.getElementById("fullscreen-container");
    const fullscreenVideo = document.getElementById(
      "fullscreen-video"
    ) as HTMLVideoElement;
    const closeFullscreenButton = document.getElementById("close-fullscreen");

    if (!fullscreenContainer || !fullscreenVideo || !closeFullscreenButton) {
      console.error("Uno o más elementos del DOM no se encontraron.");
      return;
    }

    function addClickEventListener(videoGridId: string) {
      const videoGrid = document.getElementById(videoGridId);
      console.log("videoGrid", videoGrid);

      if (!videoGrid) {
        console.error(`No se encontró el elemento con id ${videoGridId}.`);
        return;
      }

      videoGrid.addEventListener("click", function (event) {
        const target = event.target as HTMLElement;
        const videoDiv = target.closest("div[data-video-src]") as HTMLElement;
        console.log("videoDiv", videoDiv);

        if (videoDiv) {
          const videoSrc = videoDiv.getAttribute("data-video-src");
          console.log("videoSrc", videoSrc);

          if (videoSrc) {
            fullscreenVideo.src = videoSrc;
            fullscreenContainer?.classList.remove("hidden");
            fullscreenContainer?.classList.add("flex");

            // Check if it's the Ranchera trailer
            if (videoSrc.includes("Ranchera%20trailer%20Instagram.mp4")) {
              fullscreenVideo.classList.remove("w-5/6", "h-auto");
              fullscreenVideo.classList.add("h-5/6", "w-auto");
            } else {
              fullscreenVideo.classList.remove("h-5/6", "w-auto");
              fullscreenVideo.classList.add("w-5/6", "h-auto");
            }
          }
        }
      });
    }

    addClickEventListener("video-grid-2");
    addClickEventListener("video-grid-3");

    closeFullscreenButton.addEventListener("click", function () {
      fullscreenContainer?.classList.add("hidden");
      fullscreenContainer?.classList.remove("flex");
      fullscreenVideo.pause();
      fullscreenVideo.src = "";
    });
  });
</script>
