---
const VIDEOS = [
  {
    src: '/videos/VILLICUM_CUYO_TRAILER WEB.mp4',
    thumbnail: '/thumbnails/VILLICUM_CUYO_TRAILER WEB.png',
    title: 'VILLICUM CUYO',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Spot dia del deporte.mp4',
    thumbnail: '/thumbnails/Spot dia del deporte.png',
    title: 'Spot dia del deporte',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/POR LA RAZON O POR LA FUERZA - TRAILER.mp4',
    thumbnail: '/thumbnails/POR LA RAZON O POR LA FUERZA - TRAILER.webp',
    title: 'POR LA RAZON O POR LA FUERZA',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/El club de las fracasadas - Trailer_.mp4',
    thumbnail: '/thumbnails/El club de las fracasadas - Trailer_.webp',
    title: 'El club de las fracasadas',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Spot San Martin.mp4',
    thumbnail: '/thumbnails/Spot San Martin.png',
    title: 'Spot San Martin',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/EL MENSAJERO.mp4',
    thumbnail: '/thumbnails/EL MENSAJERO.png',
    title: 'EL MENSAJERO',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
]

const VIDEOS_SMALL = [
{
    src: '/videos/MICHINO.mp4',
    thumbnail: '/thumbnails/MICHINO.png',
    title: 'Mi',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Cartas a mis tíes muertes Inés - Trailer.mp4',
    thumbnail: '/thumbnails/Cartas a mis tíes muertes Inés - Trailer.webp',
    title: 'Cartas a mis tíes muertes Inés',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Spot Reapertura Teatro del Bicentenario.mp4',
    thumbnail: '/thumbnails/Spot Reapertura Teatro del Bicentenario.png',
    title: 'Spot Reapertura Teatro del Bicentenario',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/EmarAcosta.mp4',
    thumbnail: '/thumbnails/EmarAcosta.png',
    title: 'Emar Acosta',
    subtitle: 'Sonido Directo / Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Spot DIA DE LA BANDERA.mp4',
    thumbnail: '/thumbnails/Spot DIA DE LA BANDERA.png',
    title: 'Día de la Bandera',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/Memoria fotográfica, de Pablo Pintor - Trailer.mp4',
    thumbnail: '/thumbnails/Memoria fotográfica, de Pablo Pintor - Trailer.jpg',
    title: 'Memoria fotográfica',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/ranchera resumen.mp4',
    thumbnail: '/thumbnails/ranchera resumen.png',
    title: 'Ranchera',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/El-nombre-de-mi-amiga.mp4',
    thumbnail: '/thumbnails/El-nombre-de-mi-amiga.webp',
    title: 'El nombre de mi amiga',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/FOMENTO2021_POR UN SOLO AYER_TRAILER.mp4',
    thumbnail: '/thumbnails/FOMENTO2021_POR UN SOLO AYER_TRAILER.png',
    title: 'Por un solo ayer',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/PULSANDO LA VIDA Trailer Oficial.mp4',
    thumbnail: '/thumbnails/PULSANDO LA VIDA Trailer Oficial.png',
    title: 'Pulsando la vida',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/VÓRTICE.mp4',
    thumbnail: '/thumbnails/VORTICE.png',
    title: 'Vórtice',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
  {
    src: '/videos/lamestre_resumen.mp4',
    thumbnail: '/thumbnails/lamestre_resumen.png',
    title: 'La Maestre',
    subtitle: 'Sonido Directo/ Posproducción de Sonido',
    type: 'Cortometraje',
  },
]
---

<div id="video-grid-2" class="grid grid-cols-1 md:grid-cols-2 gap-2 p-3">
  {VIDEOS.map((video, index) => (
    <div class="relative cursor-pointer overflow-hidden" data-video-src={video.src}>
      <img src={video.thumbnail} alt={`Thumbnail of ${video.title}`} class="transition-transform duration-300 hover:scale-105 w-full h-full object-cover" />
      <div class="absolute inset-0 flex flex-col items-center justify-end text-white text-lg p-2 pointer-events-none">
        <span>{video.title} <span class="text-xs text-white/70">- {video.type}</span></span>
        {video.subtitle && <span class="text-xs text-white/80">{video.subtitle}</span>}
      </div>
      <video class="hidden" muted loop playsinline width="100%" height="100%">
        <source src={video.src} type="video/mp4" />
        Tu navegador no soporta el elemento video.
      </video>
    </div>
  ))}
</div>

<div id="video-grid-3" class="grid grid-cols-1 md:grid-cols-3 gap-1 p-3 mt-4">
  {VIDEOS_SMALL.map((video, index) => (
    <div class="relative cursor-pointer overflow-hidden" data-video-src={video.src}>
      <img src={video.thumbnail} alt={`Thumbnail of ${video.title}`} class="w-full h-full object-cover" />
      <div class="absolute inset-0 flex flex-col items-center justify-end text-white text-lg p-2 pointer-events-none">
        <span>{video.title} <span class="text-xs text-white/70">- {video.type}</span></span>
        {video.subtitle && <span class="text-xs text-white/80">{video.subtitle}</span>}
      </div>
      <video class="hidden" muted loop playsinline width="100%" height="100%">
        <source src={video.src} type="video/mp4" />
        Tu navegador no soporta el elemento video.
      </video>
    </div>
  ))}
</div>

<div id="fullscreen-container" class="hidden fixed inset-0 items-center justify-center bg-black bg-opacity-90 z-50">
  <button id="close-fullscreen" class="absolute top-4 right-4 text-white p-2 text-sm">x</button>
  <video id="fullscreen-video" controls autoplay class="w-5/6 h-auto"></video>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const fullscreenContainer = document.getElementById('fullscreen-container');
    const fullscreenVideo = document.getElementById('fullscreen-video') as HTMLVideoElement;
    const closeFullscreenButton = document.getElementById('close-fullscreen');

    if (!fullscreenContainer || !fullscreenVideo || !closeFullscreenButton) {
      console.error('Uno o más elementos del DOM no se encontraron.');
      return;
    }

    function addClickEventListener(videoGridId: string) {
      const videoGrid = document.getElementById(videoGridId);
      if (!videoGrid) {
        console.error(`No se encontró el elemento con id ${videoGridId}.`);
        return;
      }

      videoGrid.addEventListener('click', function(event) {
        const target = event.target as HTMLElement;
        const videoDiv = target.closest('div[data-video-src]') as HTMLElement;

        if (videoDiv) {
          const videoSrc = videoDiv.getAttribute('data-video-src');
          if (videoSrc) {
            fullscreenVideo.src = videoSrc;
            fullscreenContainer?.classList.remove('hidden');
            fullscreenContainer?.classList.add('flex');
          }
        }
      });
    }

    addClickEventListener('video-grid-2');
    addClickEventListener('video-grid-3');

    closeFullscreenButton.addEventListener('click', function() {
      fullscreenContainer?.classList.add('hidden');
      fullscreenContainer?.classList.remove('flex');
      fullscreenVideo.pause();
      fullscreenVideo.src = '';
    });
  });
</script>